/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    overflow-x: hidden;
}

/*utilities*/
.backg-green{
    background-color: #1ABC9C;
}

.margin-bt{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

/*header*/
header{
    background-color: rgb(44,62,80);
}

header .col{
    padding: 10px;
}

.nav-bar{
    margin-bottom: 0;
}

/*main*/
.start-bootstrap{
}

.icons{
    font-size: 25px;
}

.color-bl{
    color: #2C3E50;
}

.jumbotron-text{
    font-size: 12px;
} 

.avatar{
    height: 250px;
}

/*footer*/
.line-height{
    line-height: 300px;
    margin-top: -140px;
}

.send-button{
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.backg-footer-gray{
 background-color: #3A546D;
}

.backg-footer-darkgray{
 background-color: #2C3E50;
}

.app *{
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 5px;
}

.app i:nth-child(2){
    padding: 12px 15px;
}

.app i:nth-child(3){
    padding: 12px 12px;
}

.app i:nth-child(4){
    padding: 12px 14px;
}

.app i:nth-child(5){
    padding: 12px 15px;
}